header{
    text-align: center;
    font: helvetica ;
    position: fixed;
}
body{
    background-color: darkgrey;
}
section{
    text-align: center;
    font: helvetica;
}
#divcelular{
    top: 230px;
    position: relative;
}
#divroteador{
    position: absolute;
    left: 100%;
    top: 230px;
}
#divprovedor{
    position: absolute;
    left:190%;
    top: 240px;
}
#divbancodedados{
    position: absolute;
    left: 280%;
    top: 250px;
}
#divprovedor2{
    position: absolute;
    top: 170px;
    left: 370%;
}
#divroteador2{
    position: absolute;
    left: 460%;
    top: 230px;
}
#divcelular2{
    position: absolute;
    left: 550%;
    top: 190px;

}

#texto1{
    position: absolute;
    left: 10%;
    top: 0px;
    width: 250px;
    border: 1px solid black;
}
#texto2{
    position: absolute;
    left: 100%;
    top: 0px;
    width: 250px;
    border: 1px solid black;
}
#texto3{
    position: absolute;
    left: 120%;
    top: 0px;
    width: 250px;
    border: 1px solid black;
}
#texto4{
    position: absolute;
    left: 160%;
    top: 0px;
    width: 250px;
    border: 1px solid black;
}
#texto5{
    position: absolute;
    left: 150%;
    top: 0px;
    width: 250px;
    border: 1px solid black;
}
#cnv1{
    position: absolute;
    left: 65%;
    top: 190px;
}
#cnv2{
    position: absolute;
    left: 130%;
    top: 490px;
}
#cnv3{
    position: absolute;
    left: 226%;
    top: 490px;
}